@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
// variables
$green-light: #66de93;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
}
img,
video,
canvas {
  width: 100%;
  height: 100%;
}
